<table class="table">
  <tr>
    <th>Repo</th>
    <th>Message</th>
  </tr>
  <% commits.each do |commit| %>
  <tr>
    <td><%= commit.repo %></td>
    <td><%= commit.message %></td>
  </tr>
  <% end %>
</table>
